#header {
	width: 100%;
	height: 8%;
	background-color: darkslategray;
}

#sidebar-left {
	float: left;
	width: 20%;
	height: 87.5%;
}
#main {
	float: left;
	width: 80%;
	height: 87.5%;
	background-color: floralwhite;
	margin-left:-7px;
}

#footer {
	height: 8%;
	width: 100%;
}

.myGrid {
	width:98.5%;
	height: 300px;
	margin-left:5px;
}
#gridTest,#gridTest1 .ui-grid-cell-contents{
	text-align:center;
}
.watermark {
    position: absolute;
    top: 50%;                    
    transform: translateY(-50%); 
    opacity: 0.75;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.md-button {    
    text-transform: capitalize !important;
}

.carousel-indicators li{
	background-color:orange;
	border-color:#ff9200;
}

.carousel-indicators .active{
	background-color:orange;
	border-color:#ff9200;
}

md-dialog{
	margin-left: 15%;
}

.navbar-inverse {
    background-color: darkslategray;
    border-color: darkslategray;
    color:#fff;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: darkslategray;
}

.mainDivHeaderClass{
	text-align: center;
    background: cadetblue;
    color: floralwhite;
    border-radius: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 290px;
    height:261px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.175);
    box-shadow: 0 6px 6px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
