*{box-sizing: border-box;}
.wrapper {margin: -10px auto; background: #888;  }
.pdf-controls { background: #888; padding: 1em;}
.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg);background: #888;
    padding-left: 10px;}
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); background: #888;
    padding-left: 10px;}
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg);background: #888;
    padding-left: 10px;}
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); background: #888;
    padding-left: 10px;}
.fixed { position: fixed; top: 0; left: calc(50% - 480px); z-index: 100; padding: 1em; background: #888; }