<md-dialog aria-label="Registration Template" style="width:440px;height:500px;">
<form ng-cloak name="myForm">
	<md-toolbar style="height:40px">
	<div class="md-toolbar-tools"
		style="background: cadetblue;">
		<h2>Employee Registration</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <i
			class="fa fa-times fa-2x"
			style="margin-top: 5px; font-size: 1.5em; float: left"></i> </md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div class="form-group">
			<input type="text" class="form-control" id="empId" name="empId"
				ng-model="empId" placeholder="Employee ID" ng-blur="validateEmpId()"/> <br>
			<input type="text" class="form-control" id="empName" name="empName"
				ng-model="empName" placeholder="Employee Name" /><br>
			<input type="text" class="form-control" id="empEmail" name="empEmail"
				ng-model="empEmail" placeholder="Email ID" ng-disabled="true"/><br>
				<input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
				ng-model="mobileNumber" placeholder="Mobile No" />
			<md-select ng-model="empShift" md-selected-text="getSelectedShift()" id="empShift">
			<md-optgroup label="skills"> <md-option ng-value="shift"
				ng-repeat="shift in shifts">{{shift}}</md-option> </md-optgroup> </md-select>
			<div role="alert">
				<span class="error" style="color: red;">{{alertMsg}}</span>
			</div>
		</div>
	</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> <md-button
		class="md-raised" data-ng-click="validateFields()" style="width:120px;background: cadetblue;color:white;">
	Register </md-button> <md-button class="md-raised" ng-click="cancel()" style="width:120px;background: cadetblue;color:white;">
	Cancel </md-button> </md-dialog-actions>
</form>
</md-dialog>
