<md-dialog aria-label="Role Template" style="width:400px;height:600px;">
<form ng-cloak name="myForm">
	<md-toolbar>
	<div class="md-toolbar-tools"
		style="background: cadetblue;">
		<h2>Update Profile </h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <i
			class="fa fa-times fa-2x"
			style="margin-top: 5px; font-size: 1.5em; float: left"></i> </md-button>
	</div>
	</md-toolbar>
<md-dialog-content>
	<div class="md-dialog-content">

	<div class="form-group">
	<md-select ng-model="designationEmp"  md-selected-text="getDesignationText()" id="designationEmp" >
			<md-optgroup label="designations"> <md-option ng-value="designation"
				ng-repeat="designation in designations">{{designation}}</md-option> </md-optgroup> </md-select>
			<input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
				ng-model="mobileNumber" placeholder="Mobile Number" alt="Mobile Number"/> <br>
			<input type="text" class="form-control" id="alternateMobileNumber" name="alternateMobileNumber"
				ng-model="alternateMobileNumber" placeholder="Alternate Mobile Number" /> <br>
			<input type="text" class="form-control" id="personalEmailId" name="personalEmailId"
				ng-model="personalEmailId" placeholder="Personal EmailId" /> <br>
			<md-select ng-model="baseTechnology"  md-selected-text="getSelectedTech()" id="baseTechnology" >
			<md-optgroup label="skills"> <md-option ng-value="tech"
				ng-repeat="tech in technologies">{{tech}}</md-option> </md-optgroup> </md-select>
			<textarea rows="4" cols="10" class="form-control" id="technologyKnown" name="technologyKnown"
				ng-model="technologyKnown" placeholder="Technologies Known" /> <br>
			<div role="alert">
				<span class="error" style="color: red;">{{alertMsg}}</span>
			</div>
		</div>
	
</md-dialog-content>

<md-dialog-actions layout="row"> <md-button
		class="md-raised" data-ng-click="validateFields()" style="width:120px;background: cadetblue;color:white;">
	Update </md-button> <md-button class="md-raised" ng-click="cancel()" style="width:120px;background: cadetblue;color:white;">
	Cancel </md-button> </md-dialog-actions>

</form>
</md-dialog>
